body {
	background-color: #ffc42f;
	margin: 10px 30px 10px 30px;
	font-family: Arial, Helvetica, sans-serif;
}

header {
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #231f20;
	color: white;
}

div {
	background-color: white;
	display: flex;
}

nav {
	background-color: #231f20;
	min-width: 200px;
	max-width: 200px;
	margin: 0 20px 0 0;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li a {
	color: white;
	text-decoration: none;
	display: block;
	padding: 10px 20px 10px 20px;
}

nav a:visited {
	color: white;
}

nav a:hover {
	background-color: #4f4d4d;
}

.contents {
	display: flex;
	flex-direction: column;
}

.pictures {
	display: flex;
	justify-content: space-around;
}

.wrapper {
	display: block;
	text-align: center;
}

.names {
	font-weight: bold;
}

.document-wrapper {
	display: grid;
}

object {
	margin: 20px 0 20px 0;
	width: 600px;
}

.app-images {
	width: 200px;
	height: 444px;
	margin: 20px;
}